{{ define "upload.page.tmpl" }}

{{ template "header" .}}

   <div class="container">
        <div class="row">
            <div class="col">
                <h1>Speech-to-Text</h1>
                <h2>Select file to upload</h2>
                <p>
                  <form id="upload-form" action="" method="POST" enctype="multipart/form-data" onsubmit="return false">
                    <label for="file">Choose a file:</label>
                    <input type="file" id="file" name="file" class="form-control-file" required>
                    <br /><br />
                    <input type="submit" id="upload" value="Upload" onclick="submitForm(this.id)" />
                  </form>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-outline">
                    <input class="form-control" id="status" type="text" aria-label="readonly input" readonly /><br/>
                </div>
            </div>
        </div>
    </div>

{{ template "footer" .}}

{{ end }}
